<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="primary-menu">
                <a href="/"><h3 class="menu-items exalt_item">Inicio</h3></a>
                <a href="/about-me"><h3 class="menu-items">Sobre mi</h3></a>
                <a href="/habilidades"><h3 class="menu-items">Habilidades</h3></a>
                <a href="/contact-us"><h3 class="menu-items">Contacto</h3></a>
            </div>
            <div class="header_logo">
                <h3 class="logo_text">Mi portafolio</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png"  width="50px" alt="">
            </div>
        </header>
        <main>
            <div class="first_container">
                <h1>¡Bienvenido a Mi Portafolio!</h1>
                <p><%= bienvenida %></p>
                <div class="container_inicio">
                    <div class="inicio_text_container">
                        <p><%= mensaje_inicio %></p>                   
                    </div>
                    <div class="inicio_imagen_container">
                        <img src="<%= foto %>" height="400px" alt="Piero.jpg">
                    </div>
                </div>
                <p></p> 
            </div> 
            <div class="second_container">
                <h2>Mis Habilidades</h3>
                <h3>Estoy especializado en:</h3>
                <% skills.forEach(function(skill) { %>
                    <li> <%= skill %></li>
                <% })%>
            </div>
            <div class="third_container">
                <h2>¿Cómo Puedo Ayudarte?</h2>
                <p>Si estás buscando un colaborador para tu próximo proyecto,
                    o simplemente deseas conectarte y discutir ideas,
                     ¡estaré encantado de escucharte! No dudes en ponerte en
                      contacto conmigo a través del correo electrónico a 
                      <a href="">piero.noa@tecsup.edu.pe</a>.</p>
                <p>¡Gracias por visitar mi portafolio!</p>
            </div>
        </main>
    </div>
</body>
</html>